

.alignleft {
	float: left;
	margin-left: 10px;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.logo
{
	height:65px;
	font-size:17px;
	font-weight: 500;
}
.logo a
{
	text-decoration: none;
}
.avatar
{
	height:40px;
	border-radius: 50%;
}

.user-card {
  max-width: 400px;
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size:15px;
}

.profile-container
{
	box-sizing: border-box;
	/* margin-left: 400px; */
	overflow: hidden;
	margin-bottom:20px;
	/* height: 100%; */
    display: flex;
	margin-top: 70px;
    justify-content: center;
    align-items: center;	
	background-color: whitesmoke;
}

.profile-card
{

    height:250px;
	width:700px;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card-img-top 
{
	height:90px;
	width:90px;
	border-radius: 50%;
	margin-left:23px;
	margin-top: 23px;
}

.cardcontent
{
	background-color: #F5EEF8;
	padding: 30px;
	box-sizing:border-box;
}

.card-horizontal {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 158px 22px;
  }
  
  .img-square-wrapper {
	grid-row: 1/3;
  }


  .subcard
  {
	  display: inline-block;
	  box-sizing: border-box;
	  background-color: grey;
	  font-size: 14px;
  }


mat-card-content
{
	display: flex;
  flex-direction: column;
}

.my-pagination /deep/ .ngx-pagination .current
{
background-color: #563d7c;
}

.my-pagination
{
	margin:20px;
}

.topnav button
{
	color: #563d7c;
	
}
 .searchbtn i :hover
{
	border: 2px solid #563d7c;
}

  .card-heading
  {
	  font-weight:500;
	  font-size:20px;
  }

  .card-box
  {
	  background-color: #F4F6F6;
	  height:30px;
	  padding:5px;
	  box-sizing: border-box;
	  border-radius: 4px;
  }

  .spinner {
	border: 1px solid;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

  }
  @media only screen and (min-width: 1080px) and (max-width: 2280px)  {
     

	.topnav {
		overflow: hidden;
		margin-right:150px;
		height:50px;
	  }
	  
	  .topnav .searchbox
	  {
		width:300px;
		float:right;
	  }

	  .card-img-top 
{
	height:190px;
	width:190px;
	border-radius: 50%;
	margin-left:23px;
	margin-top: 23px;
}

  }


  @media only screen and (min-width: 200px) and (max-width: 1280px)  {
  
    .repo-container
    {
	
		margin-right: 16px;
		margin-left:1px;
	  
    }
	.topnav {
		overflow: hidden;
		margin-right:10px;
		height:50px;
		margin-left: 19px;
	  }

	  .profile-container
	  {
		  margin-top: 50px;
		 
	  }
	  .profile-card
	  {
		  width:350px;
		  height:400px;
	  }


.small-sc-img
{
	height:150px;
	width:150px;
	border-radius: 50%;
	margin-left: 80px;

}	
.alignleft
{
	margin-left: 3px;
	float: left;
}
  }
	

  .zoom {

	transition: transform .2s; 
	
  }
  
  .zoom:hover {
	transform: scale(1.05);
	box-shadow: 2px 2px 5px gainsboro, -2px -2px 5px gainsboro;

  }

  