<!-- Header -->
<!-- <div class="header">
  <ul class="logo">
    
   <li> <i class="fa fa-github pull-left giticon "  style="cursor:pointer" (click)="goToHome()" title="Go To Home"></i> </li>
   <li><h2 class="pt-1">GitHub</h2></li>
    
   <li class="search topnav">
      <span class="input-group mb-3 searchbox"><input type="text"  name="search"   [(ngModel)]="searchText" autocomplete="off" class="form-control input-text" placeholder="Search repositories...." >
        <span class=" searchbtn input-group-append"> <button class="btn btn-lg" type="button"><i class="fa fa-search"></i></button> </span>
        </span>
        
      </li>

   </ul>
 </div>

     -->




<app-navbar></app-navbar>

<div *ngIf="profloading" class="spinner spinner-border text-primary" role="status" (window:resize)="onResize($event)">
  <span class="sr-only">Loading...</span>
</div>
<!-- User profile block -->
<div class="container profile-container">
  <div class="row">
      <div class="col-8 mt-3">
          <div class="card profile-card">
              <div class="card-horizontal" >
                  <div *ngIf="!this.smallscreen" class="img-square-wrapper">
                      <img class="card-img-top" src="{{user[0].avatar_url}}" alt="Profile avatar">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"></h4>
                      <div class="row mt-2">
                        <div class="column">
                          <i *ngIf="!this.smallscreen" class="fa fa-user alignleft" style="font-size:30px;color:purple"></i> 
                          <img *ngIf="this.smallscreen" class="alignleft small-sc-img" src="{{user[0].avatar_url}}" alt="Profile avatar"> 
                          <span class="alignleft pt-2">{{user[0].login}}</span>
                        </div>
                     
                      </div>
                    <div class="row mt-2">
                      <div class="column">  
                       <i class="fa fa-folder alignleft" style="font-size:30px;color:purple"></i> 
                       <span class="alignleft pt-2">{{user[0].public_repos}} Public Repositories</span>
                       </div>
                    </div>
                    <div class="row mt-2">
                      <div class="column"> 
                        <i class="fa fa-link alignleft" style="font-size:30px;color:purple"></i> 
                        <span class="alignleft pt-2"  style="cursor:pointer"> <a href="{{user[0].html_url}}/?tab=repositories" class="text-truncate">{{user[0].html_url}}/?tab=repositories</a></span>
                      </div>
                    </div>
                   <a href="{{user[0].html_url}}" > <button type="button" class="btn btn-primary mt-4">View Github Profile</button></a>
                    </div>
                 
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Search box -->

<!-- <div class="topnav">

  <div class="search-container">
    <form class="search-form">
      <input type="text" placeholder="Search for repositories" name="search"   [(ngModel)]="searchText" autocomplete="off" >
      <button type="submit"><i class="fa fa-search" style="cursor:pointer"></i></button>
    </form>
  </div>
</div> -->
<div class="topnav">
<div class="input-group mb-3 searchbox"><input type="text"  name="search"   [(ngModel)]="searchText" autocomplete="off" class="form-control input-text" placeholder="Search repositories...." >
  <div class=" searchbtn input-group-append"> <button class="btn btn-lg" type="button"><i class="fa fa-search"></i></button> </div>
</div>
</div>
<!-- Spinner -->
<div *ngIf="repoloading" class="spinner spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<!-- repo block -->
<div class="container ">
  <div class="row repo-container">
    
  <mat-card class="user-card mat-elevation-z5 col-lg-4" *ngFor="let data of this.repos |filter:searchText| paginate: { itemsPerPage: itemsPerPage , currentPage: page, totalItems: totalItems } ">
    <mat-card-content>
      <h4 class="card-heading">{{data.name}}</h4>

      <p *ngIf="data.description" >{{data.description}}</p>
      <p  *ngIf="!data.description" >No Description</p>
      <span class="text-truncate cursor-pointer"><a href="{{data.html_url}}">{{ data.html_url }}</a></span><br>
      <div style="display:inline-block">
     <div *ngIf="data.language" class="card-box" style="display:inline-block">
      <span >{{data.language}}</span> 
     </div> 
     <div *ngIf="!data.language" class="card-box" style="display:inline-block">
      <span>N/A*</span> 
     </div>  
     <div class="card-box" style="display:inline-block;margin-left:10px">
      <span >Updated on {{data.updated_at}}</span>
     </div>
     
    </div>

    </mat-card-content>
 
  </mat-card>
</div>
</div>


   <!-- pagination -->
  
<pagination-controls *ngIf="!repoloading" class="text-center my-pagination"
[maxSize]="maxSize"
                         [directionLinks]="directionLinks"
                         [autoHide]="autoHide"
                         [responsive]="responsive"
                         [previousLabel]="labels.previousLabel"
                         [nextLabel]="labels.nextLabel"
                         [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                         [screenReaderPageLabel]="labels.screenReaderPageLabel"
                         [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                         (pageChange)="page = $event"
></pagination-controls>


