
body
{
    /* background: #E9F7EF; */
   
    color:black;
    background: whitesmoke;
  
}

.header
{

 height:60px;
 color:black;
 /* background: #563d7c; */ 
 
  background:url("src\assets\bg-img\bg.jpg");


 
}

.logo
{
    
    padding:10px;
    padding-left:10px;
}
.giticon
{
  font-size:40px;
  color:black; 
}
html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica", sans-serif; }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
